function system-upgrade {
  sudo yay -Syu --noanswerupgrade --nodiffmenu --answerclean All
}

function start-docker {
  sudo systemctl start docker
}

function stop-docker {
  sudo systemctl stop docker
}

function docker-cleanup {
  docker ps -aq | xargs docker stop; docker ps -aq | xargs docker rm -f
  docker rm -vf $(docker ps -a -q -f status=exited); docker rmi $(docker images -f dangling=true -q)
  docker volume ls -q -f dangling=true | xargs -r docker volume rm
}

function docker-cleanup-hard {
  docker-cleanup
  docker rmi $(docker images -q) -f
}

function push-tag {
    git push --delete origin $1
    git tag -d $1
    git tag -a $1 -m "testing in staging"
    git push origin $1
}

alias gpg_help=$'echo \'Create keys:   \t\tgpg --full-gen-key\\nExport public key:\tgpg --export  -a <user-id>\\nImport public key:\tgpg --import <pub.key>\\nEncryption: \t\tgpg -r <user-id> -e <file>\\nDecryption:\t\tgpg -d <file.gpg>\\nSign: \t\t\tgpg -s <file>\\nVerify:\t\t\tgpg --verify <file.sig>\\n\''
alias lh='ls -lh'
