function start-docker {
  sudo systemctl start docker
}

function stop-docker {
  sudo systemctl stop docker
}

function docker-cleanup {
  docker ps -aq | xargs docker stop; docker ps -aq | xargs docker rm -f
  docker rm -vf $(docker ps -a -q -f status=exited); docker rmi $(docker images -f dangling=true -q)
  docker volume ls -q -f dangling=true | xargs -r docker volume rm
}

function docker-cleanup-hard {
  docker-cleanup
  docker rmi $(docker images -q) -f
}

function format-patch {
  branch=$1
  project=$2

  git fetch
  git checkout $branch
  git reset --hard origin/$branch
  git format-patch --relative=$project origin/master $project
}

function apply-patch {
  branch=$1

  git checkout master
  git fetch
  git reset --hard origin/master
  git submodule update --recursive
  git checkout -b $branch
  git am --3way --reject *.patch
}

function bump-database {
  branch=$1

  cd pagarme-database
  git fetch
  git checkout $branch
  git reset --hard origin/$branch
  cd ../
  git add pagarme-database
  git commit -m "chore: bump database"
}

function bump-notifier {
  branch=$1

  cd pagarme-notifier
  git fetch
  git checkout $branch
  git reset --hard origin/$branch
  cd ../
  git add pagarme-notifier
  git commit -m "chore: bump notifier"
}

function peerflix {
  start-docker && \
  docker run -p 8888:8888 --rm timfallmk/docker-peerflix $1
}

function start-plex {
  docker run \
    -d \
    --name plex \
    -e PLEX_UID=1000 \
    -e PLEX_GID=1000 \
    -e TZ=America/Sao_Paulo \
    -e PLEX_CLAIM=claim-h_GsaenK4zTUvKM4kdz9
    -p 32400:32400/tcp \
    -v $HOME/projects/personal-netflix/data/plex/config:/config \
    -v $HOME/projects/personal-netflix/data/radarr/movies:/movies \
    -v $HOME/projects/personal-netflix/data/sonarr/tvseries:/tvseries \
    plexinc/pms-docker
}

alias gpg_help=$'echo \'Create keys:   \t\tgpg --full-gen-key\\nExport public key:\tgpg --export  -a <user-id>\\nImport public key:\tgpg --import <pub.key>\\nEncryption: \t\tgpg -r <user-id> -e <file>\\nDecryption:\t\tgpg -d <file.gpg>\\nSign: \t\t\tgpg -s <file>\\nVerify:\t\t\tgpg --verify <file.sig>\\n\''
alias lh='ls -lh'
