[user]
  name = Lucas Pires
  email = lucas.pires.mattos@gmail.com
  signingkey = 1B0CB7E235E3ED54

[github]
  user = flyingluscas

[core]
  excludesfile = ~/.gitignore_global
  editor = vim
  filemode = false
  trustctime = false
    autocrlf = input

[commit]
  gpgsign = false
