[user]
  name = Lucas Pires
  email = lucas.pires.mattos@gmail.com
  signingkey = 7B9F22D986498FBD

[github]
  user = flyingluscas

[core]
  excludesfile = ~/.gitignore_global
  editor = vim
  filemode = false
  trustctime = false
    autocrlf = input

[commit]
  gpgsign = true
